@import url(./normalize.css);

html {
  height: 100%;
}
p {
  margin: 0px;
}
body {
  color: white;
  background: url(./bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  font-family: 'Neucha', cursive;
}
.wrapper {
  padding: 0px 20px;
}
.header {
  background: #192f2d;
  font-size: 20px;
}
.nav {
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex__item {
  display: flex;
  text-transform: uppercase;
}
.tree {
  cursor: pointer;
}
.toys {
  margin: 0px 10px;
  cursor: pointer;
}
.toys:hover,
.tree:hover {
  text-decoration: underline;
}
.inp_search {
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(31px);

  border-radius: 30px;
  margin-right: 10px;
  border-radius: 20px;
  padding-left: 10px;
  color: white;
  position: relative;
}
.inp_search::placeholder {
  color: white;
}
.setting {
  display: flex;
  justify-content: space-between;
}
.setting__block {
  padding: 10px;
  background: rgba(25, 194, 180, 0.5);
  border-radius: 5px;
  .title {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .setting__block-forma {
    display: flex;
    margin-bottom: 10px;
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
     
    }
  }
  .setting__block-forma * {
    margin-right: 5px;
  }
}
svg:hover #bell {
  fill: rgb(109, 129, 21);
}
svg:hover #ball {
  fill: rgb(109, 129, 21);
}
svg:hover #cone {
  fill: rgb(109, 129, 21);
}
svg:hover #snow {
  fill: rgb(109, 129, 21);
}
svg:hover #toy {
  fill: rgb(109, 129, 21);
}

.setting__block-color {
  display: flex;
  justify-content:space-between;
  input[type='checkbox'] {
    width: 20px;
    height: 20px;
    //display: none;
  }
}
#checkbox-white{
  display: none;
}
#checkbox-white + label{
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(218, 218, 218);
  border: 1px solid rgb(255, 255, 255); 
  border-radius:5px;   
  text-align: center;    
}
#checkbox-white + label:before{
  content: '✔';
  font-size: 20px;
  
}

#checkbox-white:checked + label:before{
  color: rgb(1, 255, 1);
}
.setting__block-size{
  display: flex;
  align-items: center;
}





#checkbox-yellow{
  display: none;
}
#checkbox-yellow + label{
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(196, 209, 11);
  border: 1px solid rgb(255, 255, 255); 
  border-radius:5px;   
  text-align: center;    
}
#checkbox-yellow + label:before{
  content: '✔';
  font-size: 20px;
}

#checkbox-yellow:checked + label:before{
  color: rgb(1, 255, 1);
}



#checkbox-red{
  display: none;
}
#checkbox-red + label{
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(209, 11, 11);
  border: 1px solid rgb(255, 255, 255); 
  border-radius:5px;   
  text-align: center;    
}
#checkbox-red + label:before{
  content: '✔';
  font-size: 20px;
}

#checkbox-red:checked + label:before{
  color: rgb(1, 255, 1);
}


#checkbox-blue{
  display: none;
}
#checkbox-blue + label{
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(11, 24, 209);
  border: 1px solid rgb(255, 255, 255); 
  border-radius:5px;   
  text-align: center;    
}
#checkbox-blue + label:before{
  content: '✔';
  font-size: 20px;
}

#checkbox-blue:checked + label:before{
  color: rgb(1, 255, 1);
}


#checkbox-green{
  display: none;
}
#checkbox-green + label{
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(45, 131, 5);
  border: 1px solid rgb(30, 135, 153); 
  border-radius:5px;   
  text-align: center;    
}
#checkbox-green + label:before{
  content: '✔';
  font-size: 20px;
}

#checkbox-green:checked + label:before{
  color: rgb(1, 255, 1);

}