@import url(./normalize.css);
.hide {
  display: none;
}

html {
  height: 100%;
}

p {
  margin: 0px;
}

body {
  color: white;
  width: 100%;
  height: 100%;
  background: url(./bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  font-family: 'Neucha', cursive;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .main-title {
  padding: 50px;
  text-align: center;
  border: 1px solid rgba(34, 153, 235, 0.92);
  border-radius: 20px;
  margin-bottom: 100px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  font-size: 53px;
  line-height: 58px;
}

.container .button-start {
  border: 1px solid rgba(34, 153, 235, 0.92);
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.wrapper {
  padding: 0px 20px;
}

.header {
  background: #192f2d;
  font-size: 20px;
}

.nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.tree {
  cursor: pointer;
}

.toys {
  margin: 0px 10px;
  cursor: pointer;
}

.toys:hover,
.tree:hover {
  text-decoration: underline;
}

.inp_search {
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  border-radius: 30px;
  margin-right: 10px;
  border-radius: 20px;
  padding-left: 10px;
  color: white;
  position: relative;
}

.inp_search::-webkit-input-placeholder {
  color: white;
}

.inp_search:-ms-input-placeholder {
  color: white;
}

.inp_search::-ms-input-placeholder {
  color: white;
}

.inp_search::placeholder {
  color: white;
}

.setting {
  border: 1px solid #000;
  padding: 0px 20px;
}

.setting * {
  margin-bottom: 10px;
}

.setting__block {
  padding: 10px;
}

.setting__block .title {
  margin-bottom: 10px;
  margin-right: 10px;
}

.setting__block .setting__block-forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.setting__block .setting__block-forma .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.setting__block .setting__block-forma * {
  margin-right: 5px;
}

.setting__block-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting-block-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.setting-block-sorting select {
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  /* Note: backdrop-filter has minimal browser support */
  color: white;
  border-radius: 30px;
}

.setting-block-sorting select option {
  color: black;
}

.setting-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.setting-button .button-apply,
.setting-button .button-reset {
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  /* Note: backdrop-filter has minimal browser support */
  cursor: pointer;
  border-radius: 30px;
  padding: 10px;
}

svg:hover #bell {
  fill: #6d8115;
}

svg:hover #ball {
  fill: #6d8115;
}

svg:hover #cone {
  fill: #6d8115;
}

svg:hover #snow {
  fill: #6d8115;
}

svg:hover #toy {
  fill: #6d8115;
}

svg:hover #star {
  fill: #6d8115;
}

.setting__block-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.setting__block-color input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

#checkbox-white {
  display: none;
}

#checkbox-white + label {
  display: block;
  width: 30px;
  height: 30px;
  background: #dadada;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

#checkbox-white + label:before {
  content: '';
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-white:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.setting__block-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#checkbox-yellow {
  display: none;
}

#checkbox-yellow + label {
  display: block;
  width: 30px;
  height: 30px;
  background: #c4d10b;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

#checkbox-yellow + label:before {
  content: '';
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-yellow:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#checkbox-red {
  display: none;
}

#checkbox-red + label {
  display: block;
  width: 30px;
  height: 30px;
  background: #d10b0b;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

#checkbox-red + label:before {
  content: '';
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-red:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#checkbox-blue {
  display: none;
}

#checkbox-blue + label {
  display: block;
  width: 30px;
  height: 30px;
  background: #0b18d1;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

#checkbox-blue + label:before {
  content: '';
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-blue:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#checkbox-green {
  display: none;
}

#checkbox-green + label {
  display: block;
  width: 30px;
  height: 30px;
  background: #2d8305;
  border: 1px solid #1e8799;
  border-radius: 5px;
  text-align: center;
}

#checkbox-green + label:before {
  content: '';
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-green:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.setting__block-forever {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#checkbox-blue {
  display: none;
}

#checkbox-blue + label {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 30px;
  height: 30px;
  background: #0b18d1;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

#checkbox-blue + label:before {
  content: '';
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-blue:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#checkbox-forever {
  display: none;
}

#checkbox-forever + label {
  display: block;
  width: 30px;
  height: 30px;
  background: gray;
  border: 1px solid #2b853f;
  border-radius: 5px;
  text-align: center;
}

#checkbox-forever + label:before {
  content: '';
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-forever:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #192f2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main * {
  margin: 5px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #000;
  padding: 10px;
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  width: 250px;
  background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 100%);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */