@import url(./normalize.css);
@import url(./nouislider.min.css);
.hide {
  display: none;
}
.hideBlock {
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes hide {
  to {
    opacity: 0;
    width: 0;
    padding: 0px;
    border: 0px;
    margin: 0px;
   
  }
}
path{
  cursor: pointer;
}
html {
  height: 100%;
}
p {
  margin: 0px;
}
.error{
  display: none;
}
body {
  color: white;
  width: 100%;
  height: 100%;
  background: url(./bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  font-family: 'Neucha', cursive;
}
.noUi-connects {
  background: #24c5db;
}
.noUi-horizontal .noUi-handle {
  box-shadow: none;
  border: 1px solid #000;
  border-radius: 100%;
  top: -12px !important;
  width: 30px !important;
  height: 30px !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%),
    radial-gradient(104.22% 230.94% at -4.22% 0%, #24c5db 3.62%, rgba(36, 197, 219, 0.26) 55.1%);
}
.noUi-horizontal .noUi-handle::after {
  display: none;
}
.noUi-horizontal .noUi-handle::before {
  display: none;
}
#slider-for-copy,
#slider-for-years {
  height: 5px;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .main-title {
    padding: 50px;
    text-align: center;
    border: 1px solid rgba(34, 153, 235, 0.92);
    border-radius: 20px;
    margin-bottom: 100px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    backdrop-filter: blur(31px);
    font-size: 53px;
    line-height: 58px;
  }
  .button-start {
    border: 1px solid rgba(34, 153, 235, 0.92);
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
}
.wrapper {
  padding: 0px 20px;
}
.header {
  background: #192f2d;
  font-size: 20px;
}
.nav {
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex__item {
  display: flex;
  text-transform: uppercase;
}
.tree {
  cursor: pointer;
}
.toys {
  margin: 0px 10px;
  cursor: pointer;
}
.toys:hover,
.tree:hover {
  text-decoration: underline;
}
.inp_search {
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(31px);

  border-radius: 30px;
  margin-right: 10px;
  border-radius: 20px;
  padding-left: 10px;
  color: white;
  position: relative;
}
.inp_search::placeholder {
  color: white;
}
.setting {
  border: 1px solid #000;
  padding: 0px 20px;
}
.setting * {
  margin-bottom: 10px;
}
.setting__block {
  padding: 10px;

  .title {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .setting__block-forma {
    display: flex;
    margin-bottom: 10px;
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
  }
  .setting__block-forma * {
    margin-right: 5px;
  }
}
.setting__block-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.setting-block-sorting {
  display: flex;
  select {
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
    backdrop-filter: blur(31px);
    /* Note: backdrop-filter has minimal browser support */
    color: white;
    option {
      color: black;
    }
    border-radius: 30px;
  }
}
.setting-button {
  display: flex;
  justify-content: space-around;
  .button-apply,
  .button-reset {
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
    backdrop-filter: blur(31px);
    /* Note: backdrop-filter has minimal browser support */
    cursor: pointer;
    border-radius: 30px;
    padding: 10px;
  }
}
svg:hover #bell {
  fill: rgb(192, 192, 192);
}
svg:hover #ball {
  fill: rgb(192, 192, 192);
}
svg:hover #ball-big {
  fill: rgb(192, 192, 192);
}
svg:hover #ball-middle {
  fill: rgb(192, 192, 192);
}
svg:hover #ball-small {
  fill: rgb(192, 192, 192);
}
svg:hover #cone {
  fill: rgb(192, 192, 192);
}
svg:hover #snow {
  fill: rgb(192, 192, 192);
}
svg:hover #toy {
  fill: rgb(192, 192, 192);
}
svg:hover #star {
  fill: rgb(192, 192, 192);
}
.noUi-background {
  background-color: #000;
}
.setting__block-color {
  display: flex;
  justify-content: space-between;
  input[type='checkbox'] {
    width: 20px;
    height: 20px;
    //display: none;
  }
}
#checkbox-white {
  display: none;
}
#checkbox-white + label {
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(218, 218, 218);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
}
#checkbox-white + label:before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-white:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.setting__block-size {
  display: flex;
  align-items: center;
}

#checkbox-yellow {
  display: none;
}
#checkbox-yellow + label {
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(196, 209, 11);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
}
#checkbox-yellow + label:before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-yellow:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#checkbox-red {
  display: none;
}
#checkbox-red + label {
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(209, 11, 11);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
}
#checkbox-red + label:before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-red:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#checkbox-blue {
  display: none;
}
#checkbox-blue + label {
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(11, 24, 209);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
}
#checkbox-blue + label:before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-blue:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#checkbox-green {
  display: none;
}
#checkbox-green + label {
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(45, 131, 5);
  border: 1px solid rgb(30, 135, 153);
  border-radius: 5px;
  text-align: center;
}
#checkbox-green + label:before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-green:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.setting__block-forever {
  display: flex;
}

#checkbox-blue {
  display: none;
}
#checkbox-blue + label {
  display: block;
  user-select: none;
  width: 30px;
  height: 30px;
  background: rgb(11, 24, 209);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
}
#checkbox-blue + label:before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-blue:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#checkbox-forever {
  display: none;
}
#checkbox-forever + label {
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(128, 128, 128);
  border: 1px solid rgb(43, 133, 63);
  border-radius: 5px;
  text-align: center;
}
#checkbox-forever + label:before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#checkbox-forever:checked + label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #192f2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
main * {
  margin: 5px;
}
.block {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 10px;
  backdrop-filter: blur(31px);
  width: 250px;
  background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}
.setting__block-copy {
  margin-bottom: 60px;
}
.favorite {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0px 5px;
}
.favorite:hover {
  background: rgba(61, 201, 219, 0.5);
}
.favorite-active {
  background: rgba(5, 192, 99, 0.5);
}
.count-favorites {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
}
